*{
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  
  
}
a{
  color:inherit;
  text-decoration: none;
  
}
.medsos{
  padding: 5px 0;
  background: #148F77;
  
}

.medsos ul li {
  display: inline-block;
  color:#fff;
  margin-right:10px;
  
}
.container{
  width:80%;
  margin:0 auto;  
  
  
  }
  
  .container:after{
    content:" ";
    display:block;
    clear: both;
    
    
  }
  
header h1{
  
  float: left;
  padding:15px 0;
  color:#148F77;
}

header ul{
  float: right;
}

header ul li {
  display:inline-block;
}

header ul li a{
  padding:25px 20px;
  display:inline-block;
}
header ul li a:hover{
  backgrund-color:#148F77;
  color:#fff;
}

.active{
  background-color:#148F77;
  
}
